@echo off
set GIT_HOME=C:\Program Files\Git
set JAVA_HOME=C:\Projects\tools\jdk\14.0.2
set M2_HOME=C:\Projects\tools\maven\3.6.3
set CYGWIN_HOME=C:\Program Files\cygwin2.8
set PATH=%GIT_HOME%\bin;%JAVA_HOME%\bin;%M2_HOME%\bin;C:\Scripts\dosNtBat;%CYGWIN_HOME%\bin;C:\Windows\System32;C:\Windows;C:\Windows\System32\wbem;C:\Windows\System32\WindowsPowerShell\v1.0
